.card {
  background: rgba(15, 23, 42, 0.7);
  border: 1px solid rgba(148, 163, 184, 0.1);
  border-radius: 16px;
  padding: 28px;

  backdrop-filter: blur(12px);

  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 260px;

  cursor: pointer;

  /* 🔥 animação */
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;

  position: relative;
  overflow: hidden;
}

/* quando aparece */
.show {
  opacity: 1;
  transform: translateY(0);
}

/* efeito glow ao hover */
.card::before {
  content: "";
  position: absolute;
  inset: 0;

  background: radial-gradient(
    circle at top,
    rgba(59, 130, 246, 0.15),
    transparent 70%
  );

  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover::before {
  opacity: 1;
}

/* HOVER PRINCIPAL */
.card:hover {
  transform: translateY(-10px) scale(1.03);
  border-color: rgba(59, 130, 246, 0.4);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
}

/* TIPOGRAFIA */
.card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #ffffff;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  color: #94a3b8;
}

/* IMAGEM */
.image {
  width: 100%;
  height: 120px;

  object-fit: contain;

  margin-top: 20px;

  display: block;

  filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.6));

  transition: transform 0.3s ease;
  z-index: 1;
}

/* zoom na imagem ao hover */
.card:hover .image {
  transform: scale(1.08);
}

/* TAGS */
.tags {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tags span {
  font-size: 12px;
  padding: 6px 10px;

  background: rgba(59, 130, 246, 0.15);
  color: #60a5fa;

  border-radius: 6px;
  font-weight: 500;

  border: 1px solid rgba(59, 130, 246, 0.2);

  transition: all 0.3s ease;
}

/* hover nas tags */
.tags span:hover {
  background: rgba(59, 130, 246, 0.3);
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .grid {
    display: flex; /* MUDA DE GRID PARA FLEX */
    overflow-x: auto;
    gap: 16px;
    padding: 10px;

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .grid::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex: 0 0 85%;   /* define largura real */
    min-width: 260px; /* impede ficar fino */
    scroll-snap-align: center;
  }
}